.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
# Ignora toda la carpeta de configuración de IntelliJ
.idea/

# Archivos de módulo de IntelliJ. A veces se versionan, a veces no.
# Si trabajas solo o los módulos se regeneran fácilmente, puedes ignorarlos.
# Si defines estructuras de módulo complejas que otros necesitan, se versionan.
# Por ahora, para simplificar, podemos ignorarlos o dejarlos si IntelliJ los gestiona bien.
*.iml

# Archivos de configuración de espacio de trabajo específicos del usuario, siempre ignorar.
*.iws

# Formato de proyecto antiguo de IntelliJ, ignorar.
*.ipr

# Directorio de salida de compilación de IntelliJ (si no usas la salida de Gradle)
out/

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store